body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: 20px;
}



/* LAPTOP VIEW  */ 


/*homepage*/
@media (min-width: 1000px){
  .hp-hero{
    height: 60vh;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url('./Resources/Homepage/hero-transformed.jpeg');
    /* background-repeat:no-repeat;
    background-size: cover;
    background-size: contain;*/
    background-position:center; 
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .services{
    flex-direction: row;
  }

  .hp-cards{
    flex-direction: row;
  }

  .para-image{
    flex-direction: row;
  }

  .image-para{
    margin-left: 10%;
  }

  /*about us*/
  .au-hero{
    height: 60vh;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url('./Resources/About\ Us/about\ us.jpg');
    color: #fff;
    background-position:center; 
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pl-hero-img{
    margin-left: 5%;
  }

  .EMI-range{
    width: 20%;
  }

  .WCL-hero{
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url('./Resources/Working\ Capital\ Loan/hero.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
  }

  .icons{
    flex-direction: row;
  }

  /* .cf-hero{
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('./Resources/Channel\ Finance/hero.png');
  } */

  .pl-in{
    flex-direction: 'row';
  }

  .cu-hero{
    background: url('./Resources/Contact\ US/hero.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
  }
}



/* MOBILE VIEW */ 

/*homepage*/
@media (max-width: 1000px){
  .hp-hero{
    height: 60vh;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url('./Resources/Homepage/hero-transformed.jpeg');
    /* background-repeat:no-repeat;
    background-size: cover;
    background-size: contain;*/
    background-position:center; 
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .services{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hp-cards{
    flex-direction: column;
    justify-content: center;
  }

  .para-image{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .au-hero{
    height: 60vh;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url('./Resources/About\ Us/about\ us.jpg');
    color: #fff;
    background-position:center; 
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .au-val{
    justify-content: center;
    align-items: center;
  }

  .para-image{
    flex-direction: column;
  }

  .icons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .WCL-hero{
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url('./Resources/Working\ Capital\ Loan/hero.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover; 
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
  }
  /* .cf-hero{
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('./Resources/Channel\ Finance/hero.png');
  } */

  .pl-in{
    flex-direction: column-reverse;

  }

  .pl-hero-img{
    margin-bottom: 5%;
  }

  .pl-EMI, label{
    font-size: 12px;
  }

  .EMI-range{
    width: 70%;
  }

  .cu-hero{
    background: url('./Resources/Contact\ US/hero.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
  }
}

